# CLion
.idea/

# Build directories
build/
cmake-build-debug/
cmake-build-release/

# Compiled binaries
MyProject
MyProjectTests

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# OS
.DS_Store
Thumbs.db